<div class="text-center" style="padding-top: 4em;">
	<img src="image/logo-black.png" />
</div>
<div style="margin-top: 3em;" ng-controller="CadastroController">
	<div ng-wizard title="Crie seu Cúrriculo Online!" current="{{$root.step}}" size="7">
		
		<form name="info_usuario_form" ng-controller="InfoUsuarioController as controller"
			  novalidate ng-submit="controller.continuar()" ng-show="$root.step == 1"
			  ng-animate=" 'animate' ">

			<div class="well">
				Iremos lhe ajudar a criar o seu cúrriculo em algumas étapas. Informe as informações solicitadas e avance as étapas para obter o seu cúrriculo.
			</div>
			<div ng-include="'view/info_usuario.html'"></div>
			<div class="row" style="padding-top: 2em;">
				<div class="col-md-12">
					<button class="btn btn-primary btn-lg" type="submit" ng-disabled="!info_usuario_form.$valid">
						Continuar <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
					</button>
				</div>
			</div>
		</form>
		
		<form name="info_pessoal_form" ng-controller="InfoPessoalController as controller"
			  novalidate ng-submit="controller.continuar()" ng-show="$root.step == 1"
			  ng-animate=" 'animate' ">
			<div ng-include="'view/info_pessoal.html'"></div>
			<div class="row" style="padding-top: 2em;">
				<div class="col-md-12">
					<button class="btn btn-default btn-lg" ng-click="controller.voltar()" type="button">
						Voltar <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
					</button>
					<button class="btn btn-primary btn-lg" type="submit" ng-disabled="!info_pessoal_form.$valid">
						Continuar <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
					</button>
				</div>
			</div>
		</form>

		<form name="info_academica_form" ng-controller="InfoAcademicaController as controller"
			  novalidate ng-submit="controller.continuar()" ng-show="$root.step == 2"
			  ng-animate=" 'animate' ">
			  
			  <div class="panel panel-primary">
				  <div class="panel-heading">
				  	Informações Acadêmicas
				  </div>
				  <div class="panel-body">
				    <div ng-include="'view/info_academica.html'"></div>
				  </div>
			  </div>
			  
			  <div class="row" style="padding-top: 1em;">
				<div class="col-md-12">
					<button class="btn btn-default btn-lg" ng-click="controller.voltar()" type="button">
						Voltar <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
					</button>
					<button class="btn btn-primary btn-lg" type="submit" ng-disabled="!infos_academica.length">
						Continuar <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
					</button>
				</div>
			</div>
		</form>

		<form name="info_profissional_form" ng-controller="InfoProfissionalController as controller"
			  novalidate ng-submit="controller.continuar()" ng-show="$root.step == 0"
			  ng-animate=" 'animate' ">
			  <div class="panel panel-primary">
				  <div class="panel-heading">
				  	Informações Profissionais
				  </div>
				  <div class="panel-body">
				    <div ng-include="'view/info_profissional.html'"></div>
				  </div>
			  </div>

			  <div class="row" style="padding-top: 1em;">
				<div class="col-md-12">
					<button class="btn btn-default btn-lg" ng-click="controller.voltar()" type="button">
						Voltar <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
					</button>
					<button class="btn btn-primary btn-lg" type="submit">
						Continuar <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
					</button>
				</div>
			  </div>

		</form>

		<form name="curso_form" ng-controller="CursoController as controller"
			  novalidate ng-submit="controller.continuar()" ng-show="$root.step == 4"
			  ng-animate=" 'animate' ">
			  <div class="panel panel-primary">
				  <div class="panel-heading">
				  	Cursos
				  </div>
				  <div class="panel-body">
				    <div ng-include="'view/curso.html'"></div>
				  </div>
			  </div>

			  <div class="row" style="padding-top: 1em;">
				<div class="col-md-12">
					<button class="btn btn-default btn-lg" ng-click="controller.voltar()" type="button">
						Voltar <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
					</button>
					<button class="btn btn-primary btn-lg" type="submit">
						Continuar <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
					</button>
				</div>
			  </div>
			  
		</form>

		<form name="qualificacao_form" ng-controller="QualificacaoController as controller"
			  novalidate ng-submit="controller.continuar()" ng-show="$root.step == 5"
			  ng-animate=" 'animate' ">

			  <div class="panel panel-primary">
				  <div class="panel-heading">
				  	Qualificações
				  </div>
				  <div class="panel-body">
				    <div ng-include="'view/qualificacao.html'"></div>
				  </div>
			  </div>

			  <div class="row" style="padding-top: 1em;">
				<div class="col-md-12">
					<button class="btn btn-default btn-lg" ng-click="controller.voltar()" type="button">
						Voltar <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
					</button>
					<button class="btn btn-primary btn-lg" type="submit">
						Finalizar Cúrriculo <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 
					</button>
				</div>
			  </div>

		</form>
		
		<form name="success_form" ng-controller="SuccessController as controller"
			  novalidate ng-show="$root.step == 6"
			  ng-animate=" 'animate' ">
			
			<div ng-include="'view/success.html'"></div>

		</form>

	</div>
</div>