<div class="alert alert-danger" ng-show="info_usuario_form.login.$error.required && !info_usuario_form.login.$pristine">
	Informe o campo <b>Nome de Usuário</b>!
</div>
<div class="alert alert-danger" ng-show="info_usuario_form.email.$invalid && validate">
	O <b>E-Mail</b> está em formato inválido
</div>
<div class="alert alert-danger" ng-show="info_usuario_form.email.$error.required && !info_usuario_form.email.$pristine">
	Informe o campo <b>E-Mail</b>!
</div>
<div class="alert alert-danger" ng-show="info_usuario_form.senha.$error.required && !info_usuario_form.senha.$pristine">
	Informe o campo <b>Senha</b>!
</div>
<div class="alert alert-danger" ng-show="info_usuario_form.senhaConfirmacao.$error.required && !info_usuario_form.senhaConfirmacao.$pristine">
	Informe o campo <b>Confirmar Senha</b>!
</div>
<div class="alert alert-danger" ng-show="info_usuario_form.senhaConfirmacao.$error.sameAs && validateSenha">
	As senhas não estão iguais!
</div>

<div class="row">
	<div class="col-md-6">
    	<h4>Nome de Usuário</h4>
		<input id="login" type="text" name="login" class="form-control input-lg" ng-model="info_usuario.login" 
			   ng-required="true"/>
	</div>
</div>
	
<div class="row">
	<div class="col-md-6">
    	<h4>E-Mail</h4>
		<input id="email" type="email" name="email" class="form-control input-lg" ng-model="info_usuario.email" 
			   ng-required="true" ng-blur="validate=true"/>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h4>Senha</h4>
		<input id="senha"  name="senha" type="password" class="form-control input-lg" ng-model="info_usuario.senha" ng-required="true"/>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h4>Confirmar Senha</h4>
		<input id="senhaConfirmacao" name="senhaConfirmacao" type="password" class="form-control input-lg" 
			   ng-model="info_usuario.senhaConfirmacao" ng-required="true" same-as="info_usuario.senha"
			   ng-blur="validateSenha=true"/>
	</div>
</div>