<div class="well">
	<p>Esta seção é onde você informa seus dados acadêmicos.  Preste atenção nos detalhes abaixo: </p>
	<ul>
		<li>Aqui é recomendavel você informar suas qualificações acadêmicas que são <b>necessárias</b> para sua conquista do seu emprego.</li>
	</ul>
	<ul>
		<li><b>Evite</b> informar informações desnecessárias como, por exemplo, os dados do Ensino Fundamental caso tenha concluído o Ensino Médio.</li>
	</ul>
	<ul>
		<li>Antes de continuar para a próxima etapa, você deve ter pelo menos <b>uma</b> Informação Acadêmica adicionada</li>
	</ul>
	<ul>
		<li>Não informe <b>cursos e atividades extra-acadêmicas</b> nesta sessão
	</ul>
</div>

<div class="alert alert-danger" ng-show="info_academica_form.nivel.$error.required && !info_academica_form.nivel.$pristine">
	Informe o campo <b>Nível</b>!
</div>
<div class="alert alert-danger" ng-show="info_academica_form.curso.$error.required && !info_academica_form.curso.$pristine">
	Informe o campo <b>Curso</b>!
</div>
<div class="alert alert-danger" ng-show="info_academica_form.instituicao.$error.required && !info_academica_form.instituicao.$pristine">
	Informe o campo <b>Instituição</b>!
</div>

<div class="row">
	<div class="col-md-12">
    	<h4>Nível</h4>
    	<select class="form-control input-lg" ng-model="info_academica.nivel"
    			id="nivel" name="nivel" ng-required="true">
    		<option value="">Selecione...</option>
    		<option value="ensino_fundamental">Ensino Fundamental</option>
    		<option value="ensino_medio">Ensino Médio</option>
    		<option value="ensino_superior_graduacao">Ensino Superior</option>
    		<option value="ensino_superior_pos_graduacao">Pós-Graduação</option>
    	</select>
	</div>

</div>

<div class="row">
	<div class="col-xs-12">
		<h4>Curso</h4>
		<input class="form-control input-lg"
				   id="curso" name="curso" ng-disabled="info_academica.nivel != 'ensino_superior_graduacao' && info_academica.nivel != 'ensino_superior_pos_graduacao'"
				   ng-required="info_academica.nivel == 'ensino_superior_graduacao' || info_academica.nivel == 'ensino_superior_pos_graduacao'" ng-model="info_academica.curso"/>
	</div>	
</div>

<div class="row">
	<div class="col-md-12">
    	<h4>Instiuição</h4>
    	<div class="form-horizontal">
    		<div class="form-group col-xs-10">
    			<input class="form-control input-lg" id="instituicao" name="instituicao"
    		   		ng-required="true" ng-model="info_academica.instituicao"/>
    		</div>
    		<div class="checkbox col-xs-2" style="margin-left: 1em;">
    			<h4>
			      <input type="checkbox" class="input" ng-model="info_academica.incompleto" ng-checked="info_academica.incompleto"
			      		 ng-click="info_academica.incompleto=!info_academica.incompleto"/> Incompleto
			    </h4>
    		</div>
    	</div>
    	
    </div>
</div>

<div class="row" style="margin-top: 2em;">
	<div class="col-md-12">
		<button class="btn btn-primary btn-lg" ng-click="adicionar()" type="button"	ng-disabled="!info_academica_form.$valid">
			Adicionar Informação Acadêmica <span class="glyphicon glyphicon-plus"/>
		</button>	
	</div>				  	
</div>

<div class="panel panel-primary" style="margin-top: 2em;" ng-show="!!infos_academica.length">
  <div class="panel-heading">
  	Informações Acadêmicas Adicionadas
  </div>
  <div class="panel-body">
  	<div ng-repeat="info in infos_academica">
  		<div class="panel panel-default" style="margin-top: 2em;">

  			<div class="panel-body">
  				<div class="row">
					<div class="col-md-12">
	    				<b>Nível</b>
	    				<p>{{niveis[info.nivel]}}</p>
	    			</div>
	    		</div>

	    		<div class="row" ng-show="info.curso != undefined">
	    			<div class="col-md-12">
	    				<b>Curso</b>
	    				<p>{{info.curso}}</p>
	    			</div>
	    		</div>

	    		<div class="row">
	    			<div class="col-md-12">
	    				<b>Instituição</b>
	    				<p>{{info.instituicao}}</p>
	    			</div>
	    		</div>

	    		<div class="row">
	    			<div class="col-md-12">
	    				<b>Curso Incompleto? </b>
	    				<p>{{info.incompleto ? 'Sim' : 'Não'}}</p>
	    			</div>
	    		</div>

  			</div>
  			
  		</div>
  	</div>
  </div>
</div>