<div class="well">
	Esta seção é onde você informa seus dados pessoais. Estes dados serão exibidos no topo do seu cúrriculo. 
</div>

<div class="alert alert-danger" ng-show="info_pessoal_form.nome.$error.required && !info_pessoal_form.nome.$pristine">
	Informe o campo <b>Nome</b>!
</div>

<div class="alert alert-danger" ng-show="info_pessoal_form.cpf.$error.required && !info_pessoal_form.cpf.$pristine">
	Informe o campo <b>CPF</b>!
</div>

<div class="alert alert-danger" ng-show="info_pessoal_form.cpf.$error.cpf && validate">
	O campo <b>CPF</b> está inválido!
</div>

<div class="alert alert-danger" ng-show="info_pessoal_form.estado_civil.$error.required && !info_pessoal_form.estado_civil.$pristine">
	Informe o campo <b>Estado Cívil</b>!
</div>

<div class="alert alert-danger" ng-show="info_pessoal_form.nacionalidade.$error.required && !info_pessoal_form.nacionalidade.$pristine">
	Informe o campo <b>Nacionalidade</b>!
</div>

<div class="alert alert-danger" ng-show="info_pessoal_form.cidade.$error.required && !info_pessoal_form.cidade.$pristine">
	Informe o campo <b>Cidade</b>!
</div>

<div class="alert alert-danger" ng-show="info_pessoal_form.estado.$error.required && !info_pessoal_form.estado.$pristine">
	Informe o campo <b>Estado</b>!
</div>

<div class="alert alert-danger" ng-show="info_pessoal_form.bairro.$error.required && !info_pessoal_form.bairro.$pristine">
	Informe o campo <b>Bairro</b>!
</div>

<div class="alert alert-danger" ng-show="info_pessoal_form.endereco.$error.required && !info_pessoal_form.endereco.$pristine">
	Informe o campo <b>Endereço</b>!
</div>

<div class="alert alert-danger" ng-show="info_pessoal_form.numero.$error.required && !info_pessoal_form.numero.$pristine">
	Informe o campo <b>Número</b>!
</div>

<div class="alert alert-danger" ng-show="info_pessoal_form.telefone.$error.required && !info_pessoal_form.telefone.$pristine">
	Informe o campo <b>Telefone</b>!
</div>

<div class="alert alert-danger" ng-show="info_pessoal_form.nascimento.$error.date">
	Informe o campo <b>Nascimento</b>!
</div>



<div class="row">
	<div class="col-md-12">
    	<h4>Nome</h4>
		<input id="nome" name="nome" class="form-control input-lg" 
			   ng-required="true" ng-model="info_pessoal.nome"/>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
    	<h4>CPF</h4>
		<input id="cpf" type="text" name="cpf" class="form-control input-lg"
			   ng-required="true" ng-model="info_pessoal.cpf" ng-blur="validate=true" ui-br-cpf-mask/>
	</div>

	<div class="col-md-3">
    	<h4>Estado Cívil</h4>
    	<select class="form-control input-lg" ng-model="info_pessoal.estado_civil"
    			id="estado_civil" name="estado_civil" ng-required="true">
    		<option value="">Selecione...</option>
    		<option value="solteiro">Solteiro</option>
    		<option value="casado">Casado</option>
    	</select>
	</div>

	<div class="col-md-3">
		<h4>Data de Nascimento</h4>
		<input id="nascimento" type="date" value="" name="nascimento" class="form-control input-lg"
			   ng-required="true" ng-model="info_pessoal.nascimento"/>
	</div>

	<div class="col-md-3">
    	<h4>Nacionalidade</h4>
		<input class="form-control input-lg"
			   id="nacionalidade" name="nacionalidade"
			   ng-required="true" ng-model="info_pessoal.nacionalidade"/>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
    	<h4>Cidade</h4>
		<input class="form-control input-lg" 
			   id="cidade" name="cidade"
			   ng-required="true" ng-model="info_pessoal.cidade"/>
	</div>

	<div class="col-md-4">
    	<h4>Estado</h4>
		<input class="form-control input-lg" 
			   id="estado" name="estado"
			   ng-required="true" ng-model="info_pessoal.estado"/>
	</div>

	<div class="col-md-4">
    	<h4>Bairro</h4>
		<input class="form-control input-lg" 
			   id="bairro" name="bairro"
			   ng-required="true" ng-model="info_pessoal.bairro"/>
	</div>					
</div>

<div class="row">
	<div class="col-md-6">
    	<h4>Endereço</h4>
		<input class="form-control input-lg" 
			   id="endereco" name="endereco"
			   ng-required="true" ng-model="info_pessoal.endereco"/>
	</div>

	<div class="col-md-3">
    	<h4>Número</h4>
		<input class="form-control input-lg"
			   id="numero" name="numero" 
			   ng-required="true" ng-model="info_pessoal.numero"
			   ui-number-mask="0" />
	</div>

	<div class="col-md-3">
    	<h4>Complemento</h4>
		<input class="form-control input-lg" 
			   id="complemento" name="complemento" 
			   ng-model="info_pessoal.complemento"/>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
    	<h4>Telefone</h4>
		<input class="form-control input-lg"
			   id="telefone" name="telefone"  
			   ng-required="true" ng-model="info_pessoal.telefone" ui-br-phone-number/>
	</div>
</div>

				