<div class="well">
	<p>Essa é a seção onde você vai informar suas experiências profissionais. Caso não possua nenhuma experiência avance esta étapa, caso contrário fique atento aos seguintes detalhes:</p>
	<ul>
		<li>Procure informar experiências profissionais <b>relacionadas</b> com o emprego que você está procurando.</li>
	</ul>
	<ul>
		<li>Você pode informar quantos registros de informações profissionais você quiser. Procure informar o máximo que puder.</li>
	</ul>
	<ul>
		<li>A sessão <b>Atividades</b> deve conter as atividades desempenhadas em uma experiência ou emprego passado.</li>
	</ul>
	<ul>
		<li>Caso você não possua experiência para registrar no cúrriculo, você pode pular esta etapa.
	</ul>
</div>

<div class="alert alert-danger" ng-show="info_profissional_form.empresa.$error.required && !info_profissional_form.empresa.$pristine">
	Informe o campo <b>Empresa</b>!
</div>

<div class="alert alert-danger" ng-show="info_profissional_form.cargo.$error.required && !info_profissional_form.cargo.$pristine">
	Informe o campo <b>Cargo</b>!
</div>

<div class="alert alert-danger" ng-show="info_profissional_form.inicio.$error.required && !info_profissional_form.inicio.$pristine">
	Informe o campo <b>Início</b>!
</div>

<div class="row">
	<div class="col-md-12">
    	<h4>Empresa</h4>
    	<input class="form-control input-lg"
				   id="empresa" name="empresa"  ng-model="info_profissional.empresa" ng-required="true"/>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    	<h4>Cargo</h4>
    	<input class="form-control input-lg"
				  id="cargo" name="cargo"  ng-model="info_profissional.cargo" ng-required="true"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
    	<h4>Início</h4>
    	<input ng-datepicker type="text" class="form-control input-lg" ng-model="info_profissional.inicio" name="inicio" ng-required="true" ui-mask="99/99/9999">    	
    </div>

    <div class="col-md-6">
    	<h4>Fim</h4>
    	<input ng-datepicker type="text" class="form-control input-lg" ng-model="info_profissional.fim" name="fim" ui-mask="99/99/9999">  
    </div>
</div>

<div class="row" style="margin-top: 2em;">
	<div class="col-md-12">
		<div class="panel panel-primary">
		  <div class="panel-heading">Atividades</div>
			  <div class="panel-body">
			    <div class="input-group">
			    	<input type="text" class="form-control input-lg" ng-model="atividade.descricao"
			    		   ng-enter="adicionar_atividade();">
			    	<span class="input-group-btn">
				        <button class="btn btn-primary btn-lg" ng-click="adicionar_atividade()" type="button">Adicionar <span class="glyphicon glyphicon-plus"/></button>
				    </span>
			    </div>
			  </div>

			  <ul class="list-group" ng-show="!!info_profissional.atividades.length">
			    <li class="list-group-item" ng-repeat="atv in info_profissional.atividades">
			    	<div class="form-inline">
						<div class="form-group">
							{{atv.descricao}}
						</div>
						<div class="form-group pull-right">
							<button type="button" class="btn btn-xs btn-danger" ng-click="remover_atividade($index)">Remover <span class="glyphicon glyphicon-trash"/> </button>
						</div>
					</div>
			    </li>
			  </ul>
			</div>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 2em;">
	<div class="col-md-12">
		<button class="btn btn-primary btn-lg" ng-click="adicionar()" type="button"	ng-disabled="(!info_profissional_form.$valid) || (info_profissional.atividades.length == 0)">
			<span ng-show="!editing">Adicionar Informação Profissional <i class="glyphicon glyphicon-plus"></i></span> 
			<span ng-show="editing">Salvar Informação Profissional <i class="glyphicon glyphicon-floppy-disk"></i></span>
		</button>	
	</div>				  	
</div>

<div class="panel panel-primary" style="margin-top: 2em;" ng-show="!!infos_profissional.length">
	
	<div class="panel-heading">
		Informações Profissionais Adicionadas
	</div>

	<div ng-repeat="info in infos_profissional" style="padding: 15px 15px 15px 15px;">
		<fieldset>
			<legend>
	  			<div class="row">
	  				<div class="col-xs-9">
	  					{{info.cargo}}
	  				</div>
	  				
	  				<div class="col-xs-3">
	  					<span style="float: right; margin-bottom: 5px;">
	  						<button class="btn btn-danger" href="" ng-click="prepareRemove($index); openModal('confirmRemocaoProfissional');" type="button"> 
		  						<i class="glyphicon glyphicon-trash"></i> Remover
		  					</button>

		  					<button class="btn btn-default" href="" ng-click="editar(info)" type="button"> 
		  						<i class="glyphicon glyphicon-edit"></i> Editar
		  					</button>	
	  					</span>
	  				</div>
	  				
	  			</div>
	  		</legend>
			
			<div class="row">
				<div class="col-md-12">
    				<b>Período</b>
    				<p ng-show="info.fim">{{info.inicio}} até {{info.fim}}</p>
    				<p ng-show="!info.fim">{{info.inicio}} até Atualmente</p>
    			</div>
    		</div>

			<div class="row">
				<div class="col-md-12">
    				<b>Empresa</b>
    				<p>{{info.empresa}}</p>
    			</div>
    		</div>

    		<div class="row">
				<div class="col-md-12">
    				<b>Atividades</b>
    				<ul>
    					<li ng-repeat="ativ in info.atividades">
    						{{ativ.descricao}}
    					</li>
    				</ul>
    			</div>
    		</div>

		</fieldset>
	</div>
</div>


<modal confirm="true" id="confirmRemocaoProfissional" title="Atenção" ng-confirm="remover()">Você deseja remover esta Informação Profissional?</modal>