<div class="jumbotron">
  <h2 class="text-center">O seu cúrriculo está criado e você pode compartilhar utilizando o link abaixo</h2>
  <h2 class="text-center" style="padding-top: 20px;"><a href="http://meucurriculo.com.br/{{controller.info_usuario.login}}">http://meucurriculo.com.br/{{info_usuario.login}}</a></h2>
  <p class="text-center" style="padding-top: 20px;">Para acessar e modificar informações do seu cúrriculo faça o <a href="http://localhost/curriculo-frontend/#/login">login aqui</a></p>
</div>